@media all and (max-width: 1024px)
{   .bandeau
    {
        display: flex ;
        align-items: center;
        justify-content: space-evenly ;
    }

    .logo
    {
        display: flex ;
        margin-left: 3% ;
        max-width: 100% ;
        height: auto ;
    }

    .google
    {
        display: flex ;
        flex-direction: column ;
        font-family: 'Comfortaa Regular' ;
        margin-right: 5% ;
    }
}

@media all and (max-width: 1024px)
{
    .calculatrice
    {
        border-radius: 59px ;
        background-color: rgb(222, 219, 219, 0.6);
        width: 80% ;
        height: 100% ;
    }
}

@media all and (max-width: 1024px)
{
    .estimation
    {
        display: flex ;
        flex-direction: column ;
        justify-content: space-around ; 
        font-family: 'Comfortaa Regular' ;
        font-size: 1.3em;
    }
}

@media all and (max-width: 1024px)
{
    .li1
    {
    display: flex ;
    flex-direction: column ;
    align-items: center ;

    }

.valide
    {
    display: flex ;
    justify-content: flex-end ;
    flex-direction: row ;
    align-items: center ;
    height: 74px ;
    font-size: 1.2em;
    }


.indice
    {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
    max-width: 500px ;
    
    }

.indice > label
    {
    padding: 20px ;
    cursor: pointer;
    }




.li2
    {
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    }

.surface
    {
    width: 80% ;
    font-size: 1.1em ;
    }



.li3
    {
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    
    }

.picto
    {
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap ;
    max-width: 400px ;
    }

.picto > label
    {
    padding: 20px ;
    cursor: pointer;
    }
}

@media all and (max-width: 1024px)
{
    .dispositionres
    {
        display: flex ;
        flex-direction: column ;
        align-items: center ;
        justify-content: space-between ;
    }
}

@media all and (max-width: 1024px)
{
    .resultat
    {
        display: flex ;
        justify-content: space-between ;
        font-family: 'Comfortaa Light' ; 
        font-size: 1.3em;
        text-align: center ;
        border-radius: 40px ;
        background-color: rgba(255, 255, 255);
        width: 80% ;
        margin-top: 2% ;

    }
}

@media all and (max-width: 1024px)
{
    .action
    {
        display: flex ;
        align-items: center;
        justify-content: space-around ;
        margin-top : 5% ;
        margin-left: 0%
    }

}  

@media all and (max-width: 1024px)
{
    .disposition
    {
        display: flex ;
        align-items: center ;
        flex-direction: column ;
        margin-top: 2% ;
    }
}

@media all and (max-width: 1024px)
{
    .dpe
    {
        display: flex ;
        flex-direction: column ; 
        align-items: center ;
        font-family: 'Comfortaa Light' ;
        width: 70% ;
    }
}

@media all and (max-width: 1024px)
{
    .zoom
    {
        font-weight: bold ;
        font-size: 1.5em;
    }
}


@media all and (max-width: 1024px)
{
    .disposition
    {
        text-align: justify ;
    }
}