/* Typo */

@font-face
{
    font-family: 'Comfortaa Bold' ;
    src: url('comfortaa/Comfortaa-Bold.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Comfortaa Light' ;
    src: url('comfortaa/Comfortaa-Light.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Comfortaa Regular' ;
    src: url('comfortaa/Comfortaa-Regular.ttf') format('truetype') ;
}

/* base */

*
{
    color: rgb(86, 73, 68) ;
}


body
{
    margin: 0%
}


/* EN TETE */

.bandeau    /*logo*/
{
    margin-left: 6% ;
}

.dispositioncal {
    display : flex ;
    justify-content: center ;
    width: 100vw;
    
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
}



.calculatrice
{
    border-radius: 59px ;
    background-color: rgb(222, 219, 219, 0.6) ; 
    background-image: url(image/pistache.png)  ;
    background-repeat: no-repeat ;  
    background-position: bottom left 10% ;
    padding: 2% ;
    width: 85vw;
}



/* 3 questions */

#rappel {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    margin-top: 6em;
    font-family: 'comfortaa';
    font-size: 1.1em;
}

#rappel div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titre
{
    font-family: 'Comfortaa bold' ;
    margin : 1% ;
    font-size: 1.9em ;
}

.surface
{
    font-size: 1.1em ;
    width: 8em;
}

#picto {
    width: 70px;
}

#picto_dpe {
    margin-right: 3.3em;
}

#picto_energie {
    margin-right: 3.8em;
}

#picto_energie img {
    width: 3.5em;
}
.chauff {
    margin-top: 2em;
}

input {
    border-radius: 0.4rem;
    border-style: none;
    height: 1.8em;
    font-size: 20px;
    width: 5em;
    text-align: center;
}

/* resultats */

.dispositionres
{
    display: flex ;
    flex-direction: row ;
}




.resultat
{
    display: flex ;
    flex-direction: column ;
    border-radius: 55px ;
    background-color: rgba(255, 255, 255);
    width: 40% ;
    height: 60%;
    margin-top: 6em;
    text-align: center;
    font-family: 'comfortaa';

}

.euros
{
    font-size: 1.1em;
}

.kwh
{
    font-size: 1.1em;
}

#budgetMin
{
    font-size: 1.3em ;
    font-weight: bold ;
}

#budgetMax
{
    font-size: 1.3em ;
    font-weight: bold ;
}

#consoMin
{
    font-size: 1.3em ;
    font-weight: bold ;
}

#consoMax
{
    font-size: 1.3em ;
    font-weight: bold ;
}




.resultat > p
{
    padding : 4% ;
    
}

p#info
{
    padding: 0% ;
}


